<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>人生感悟</title>
    <meta name="author" content="jianwei" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="蹇维BLOG，人生观点探讨,个人文学，人生感悟">
    <meta name="description" content="本栏目主要探讨博主的人生观点已经一些散随笔，希望和大家在人生与文学上和大家交流。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/indextp.css" type="text/css" />
    <script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7bcc1b1c585f4488723a90acb5b2113e' type='text/javascript'%3E%3C/script%3E"));
</script>
</head>
<body>
     {{ content }}
</body>
</html>
